html,
p,
ol,
ul,
li,
hr,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}
body {
	max-width: 72rem;
	margin: 1em auto;
}
body, table {
	font-size: 1.5rem;
}
article {
	max-width: 64rem;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.4em;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 0.6em;
}
h3 {
	font-size: 1.3em;
	margin-bottom: 0.4em;
}
h4 {
	font-size: 1.25em;
	margin-bottom: 0.3em;
}
h5 {
	font-size: 1.2em;
	margin-bottom: 0.2em;
}
h6 {
	font-size: 1.1em;
	margin-bottom: 0.1em;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
	margin-top: 0;
}

h1:has(+ h2),
h2:has(+ h3),
h3:has(+ h4),
h4:has(+ h5),
h5:has(+ h6) {
	margin-bottom: 0.4em;
}

h2:has(audio) {
	display: flex;
	align-items: center;
	gap: 1em;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
}
nav ul li {
	padding-right: 0.5em;
}

header {
	padding: 1em;
}

nav {
	margin-bottom: 0.5em;
}
.chapterNav {
	display: flex;
	justify-content: space-between;
	font-size: 4rem;
}
.chapterNav a {
	text-decoration: none;
}

sup {
	margin-right: 0.1em;
}

a {
	color: inherit;
}

.flex {
	display: flex;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: black;
	}
}

@media print {
	details, audio { visibility: hidden; }
}
