name: Publish
on:
  push:
    branches:
      - master
permissions:
  # tag
  contents: write
  # provenance
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - run: deno install --frozen
      - run: deno test
      - uses: openbible-io/bump-and-publish@v0.0.2
